@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

*:focus {
  @apply outline-none;
}

.bg-header {
  background-image: url("/header.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.bg-footer {
  background-image: url("/footer.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 100%;
}

.bg-dots {
  background-image: url("/dots.png");
  background-repeat: no-repeat;
  background-position: left top;
}
